openapi: 3.0.0

info:
  title: Delilah Resto API
  description: Food delivery
  version: 1.0.0
  
servers:
  - url: https://api.delilah.com/v1
  
tags:
- name: "Products"
  description: "Operations about products"
- name: "Users"
  description: "Operations about users"
- name: "Orders"
  description: "Operations about orders"
 
paths:

  /products:
  
    get:
      tags: ["Products"]
      summary: Returns a list of products.
      responses:
        '200':
          description: JSON array of products
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    keyword:
                      type: string
                    price:
                      type: number
                    photoUrl:
                      type: string
        '400':
          description: Bad request
        '500':
          description: Internal server error
                  
    post:
      tags: ["Products"]
      summary: Creates a product.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                keyword:
                  type: string
                price:
                  type: number
                photoUrl:
                  type: string
      responses: 
        '201':
          description: Product created
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: Bad request
        '409':
          description: Product already exist
        '500':
          description: Internal server error
          
                  
  /products/{productId}:
    get:
      tags: ["Products"]
      summary: Returns a product by ID.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
      responses: 
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: Bad request
        '404':
          description: Product not found
        '500':
          description: Internal server error
          
    put:
      tags: ["Products"]
      summary: Modifies a product by ID.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                keyword:
                  type: string
                price:
                  type: number
                photoUrl:
                  type: string
      responses: 
        '200':
          description: Modified product
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: Bad request
        '404':
          description: Product not found
        '500':
          description: Internal server error
          
    delete:
      tags: ["Products"]
      summary: Deletes a product by ID.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
      responses: 
        '204':
          description: Product deleted
        '400':
          description: Bad request
        '404':
          description: Product not found
        '500':
          description: Internal server error
    
    
  /users:
  
    get: #hace falta?
      tags: ["Users"]
      summary: Returns a list of users.
      responses:
        '200':
          description: JSON array of users
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties: #que datos devolver?
                    id:
                      type: number
                    name:
                      type: string
                    userName:
                      type: string
                   # email:
                    #  type: string
                   # address:
                    #  type: string
                    #phoneNumber:
                     # type: number
                    admin:
                      type: boolean
        '400':
          description: Bad request
        '500':
          description: Internal server error
          
    post:
      tags: ["Users"]
      summary: Creates a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                userName:
                  type: string
                email:
                  type: string
                address:
                  type: string
                phoneNumber:
                  type: number
                password:
                  type: string
      responses: 
        '201':
          description: User created
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  userName:
                    type: string
                  email:
                    type: string
                  address:
                    type: string
                  phoneNumber:
                    type: number
                  #password: ?
                   # type: string
                  admin:
                    type: boolean
                    default: false
                  
        '400':
          description: Bad request
        '409':
          description: Product already exist
        '500':
          description: Internal server error
          
          
  /users/admin:
  
    post:
      tags: ["Users"]
      summary: Creates an admin user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                userName:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses: 
        '201':
          description: User created
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  userName:
                    type: string
                  email:
                    type: string
                  #password: ?
                   # type: string
                  admin:
                    type: boolean
                    default: true
                  
        '400':
          description: Bad request
        '409':
          description: Product already exist
        '500':
          description: Internal server error
    
  
          
 