openapi: 3.0.0

info:
  title: Delilah Resto API
  description: Food delivery
  version: 1.0.0
  
servers:
  - url: https://api.delilah.com/v1 #sacar?
  
tags:
- name: "Products"
  description: "Operations about products"
- name: "Users"
  description: "Operations about users"
- name: "Orders"
  description: "Operations about orders"
 
paths:
              #agregar code forbiden cuando no es usuario
              #agregar delete orders?
  /products:
  
    get:
      tags:
        - "Products"
      summary: "Returns a list of products."
      description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: token
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "JSON array of products"
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    keyword:
                      type: string
                    price:
                      type: number
                    photoUrl:
                      type: string
        '400':
          description: "Bad request"
        '401':
          $ref: '#/components/responses/tokenMissing'
        '500':
          description: "Internal server error"
                  
    post:
      tags:
        - "Products"
      summary: "Creates a product."
      security:
        - tokenAuthorization: []
      parameters:
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                keyword:
                  type: string
                price:
                  type: number
                photoUrl:
                  type: string
      responses: 
        '201':
          description: "Product created"
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: "Bad request"
        '401':
          $ref: '#/components/responses/tokenMissing'
        '409':
          description: "Product already exists"
        '500':
          description: "Internal server error"
          
   #agregar comillas a las descripciones y summaries   
   #hacer esquema de producto y de usuario
  /products/{productId}:
    get: #hace falta?
      tags:
        - "Products"
      summary: Returns a product by ID.
      security:
        - tokenAuthorization: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - in: header
          name: token
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Product not found
        '500':
          description: Internal server error
          
    put:
      tags:
        - "Products"
      summary: Modifies a product by ID.
      security:
        - tokenAuthorization: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                keyword:
                  type: string
                price:
                  type: number
                photoUrl:
                  type: string
      responses: 
        '200':
          description: Modified product
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  keyword:
                    type: string
                  price:
                    type: number
                  photoUrl:
                    type: string
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Product not found
        '500':
          description: Internal server error
          
    delete:
      tags:
        - "Products"
      summary: Deletes a product by ID.
      security:
        - tokenAuthorization: []
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses: 
        '204':
          description: Product deleted
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Product not found
        '500':
          description: Internal server error
    
    
  /users:
  
    get:
      tags:
        - "Users"
      summary: Returns a list of users.
      security:
        - tokenAuthorization: []
      parameters:
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: JSON array of users
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/userData'
                  
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '500':
          description: Internal server error
          
    post:
      tags:
        - "Users"
      summary: Creates a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                userName:
                  type: string
                  minLength: 6
                  maxLength: 18
                email:
                  type: string
                address:
                  type: string
                phoneNumber:
                  type: number
                password:
                  type: string
                  minLength: 6
      responses: 
        '201':
          description: User created
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/userData'
                  
        '400':
          description: Bad request
        '409':
          description: User already exists
        '500':
          description: Internal server error
          
          
  /users/admin:
  
    post:
      tags:
        - "Users"
      security:
        - tokenAuthorization: []
      summary: Creates an admin user.
      parameters:
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                userName:
                  type: string
                  minLength: 6
                  maxLength: 18
                email:
                  type: string
                password:
                  type: string
                  minLength: 6
      responses: 
        '201':
          description: User created
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  userName:
                    type: string
                  email:
                    type: string
                  admin:
                    type: boolean
                    default: true
                  
        '400':
          description: Bad request
        '401':
          description: API key is missing or invalid
        '409':
          description: User already exists
        '500':
          description: Internal server error
        
          
  /login:
    
    post:
      tags:
        - "Users"
      summary: User login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                  example: "userName or password"
                password:
                  type: string
                  
      responses: 
        '200':
          description: Login successful
          content:
            application/json:
              schema: 
                type: object
                properties: #revisar
                  token:
                    type: string
                  userId:
                    type: number
                  
        '400':
          description: Bad request / wrong user or password
        '500':
          description: Internal server error
          
                  
  /users/{userId}:
    get:
      tags:
        - "Users"
      summary: Returns a user by ID.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error
          
          
    delete:
      tags:
        - "Users"
      summary: Deletes a user by ID.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses: 
        '204':
          description: User deleted
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error
          
  /users/me:
  
    get:
      tags:
        - "Users"
      summary: Returns the logged in user.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error
    
    
    put: #arreglar/definir que es obligatorio
      tags:
        - "Users"
      summary: Modifies logged in user.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                userName:
                  type: string
                  minLength: 6
                  maxLength: 18
                email:
                  type: string
                address:
                  type: string
                phoneNumber:
                  type: number
                password:
                  type: string
                  minLength: 6
      responses: 
        '200':
          description: Modified user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error
          
    delete:
      tags:
        - "Users"
      summary: Deletes logged in user.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses: 
        '204':
          description: User deleted
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error

    
          
  /users/me/orders:
    get:
      tags:
        - "Orders"
      summary: Returns a list of orders of the logged in user.
      #description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: JSON array of orders
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/orderData'
    
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: User not found
        '500':
          description: Internal server error
   
          
          
  /orders:
  
    get: #que tiene que devolver?
      tags:
        - "Orders"
      summary: Returns a list of orders.
      security:
        - tokenAuthorization: []
      parameters:
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - nuevo
              - confirmado
              - preparando
              - enviando
              - entregado
              - cancelado
      responses:
        '200':
          description: JSON array of orders
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/orderData'
                  
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '500':
          description: Internal server error
          
    post:
      tags:
        - "Orders"
      summary: Creates an order.
      description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: token
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products: #revisar
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      quantity:
                        type: integer
                        format: int64
                        minimum: 1
                total:
                  type: number
               # userId:
                #  type: number
                paymentMethod:
                  type: string

      responses: 
        '201':
          description: order created
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/orderData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '500':
          description: Internal server error
          
  /orders/{orderId}:
  
    get: #hace falta? admin o user o ambos?
      tags:
        - "Orders"
      summary: Returns an order by ID.
      description: "This can only be done by the logged in user."
      security:
        - tokenAuthorization: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          required: true
          schema:
            type: string
        
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/orderData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Order not found
        '500':
          description: Internal server error
    
          
    put:
      tags:
        - "Orders"
      summary: Modifies order status by ID.
      security:
        - tokenAuthorization: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: admin"
          required: true
          schema:
            type: string
       # - name: status
        #  in: query
         # required: true
          #schema:
           # type: string
            #enum:
             # - nuevo
              #- confirmado
          #    - preparando
           #   - enviando
            #  - entregado
             # - cancelado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  #enum:
                   # - nuevo
                    #- confirmado
                  #  - preparando
                   # - enviando
                  #  - entregado
                   # - cancelado
            
      responses: 
        '200':
          description: Modified status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderData'
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Order not found
        '500':
          description: Internal server error
          
    delete:
      tags:
        - "Orders"
      summary: Deletes an order by ID.
      security:
        - tokenAuthorization: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type : integer
            format: int64
            minimum: 1
        - name: token
          in: header
          description: "Role required: Admin"
          required: true
          schema:
            type: string
      responses: 
        '204':
          description: Order cancelled
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/tokenMissing'
        '404':
          description: Order not found
        '500':
          description: Internal server error
    
    
  
components:

  schemas:
  
    userData:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        userName:
          type: string
        email:
          type: string
        address:
          type: string
        phoneNumber:
          type: number
        admin:
          type: boolean
          default: false

    orderData:
      type: object
      properties:
        orderId:
          type: number
        products: #revisar
          type: array
          items:
            type: object
            properties:
              id:
                type: number
             # name:
              #  type: string
              #keyword:
               # type: string
              #price:
               # type: number
              quantity:
                type: integer
                format: int64
                minimum: 1
              #photoUrl:
               # type: string
        total:
          type: number
        userId:
          type: number
        #user: #revisar
          #type: object
          #properties:
            #id:
             # type: number
            #name:
             # type: string
            #userName:
             # type: string
            #email:
             # type: string
            #address:
             # type: string
            #phoneNumber:
             # type: number
        paymentMethod:
          type: string
        timeStamp:
          type: string
        date:
          type: string
        status:
          type: string

        
          
  securitySchemes:
    tokenAuthorization:
      type: http
      scheme: bearer
      
      
  responses:
    tokenMissing:
      description: Token missing or invalid
      
    
          
 